:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #272B3A;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}


.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0 16px;
}

.toolbar img {
  margin: 0 16px;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}


.card-container {
  display: grid;
  margin-top: 16px;
  grid-template-columns: repeat(6, 1fr);
}

.card {
  border-radius: 4px;
  background: linear-gradient(135deg,  #f0f0f0 0%,#dcdcdc 50%,#c7c7c7 100%);
  height: 80px;
  width: 80px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-size: 34px;
  font-weight: bold;
  border: 1px solid #2D313F;
  box-sizing: border-box;
  span {
    display: none;
  }

  &.active {
    border: 1px solid #F2F2F2;
    box-shadow: inset 8px 4px 20px rgba(0, 0, 0, 0.1);
    background: #EFEEEE;
    pointer-events: none;

    span {
      pointer-events: none;
      display: block;
    }
  }
  &.couple {
    box-shadow: inset 8px 4px 20px rgba(0, 0, 0, 0.1);
    background: #EFEEEE;
    color: cornflowerblue;
    pointer-events: none;
    span {
      display: block;
    }
  }
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.games {
  &.start {
    .card {
      pointer-events: none;

      span {
        display: block;
      }
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  button {
    display: block;
  }
}
