<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{title}}</span>
    <div class="spacer"></div>
</div>
<main>
  <div class="content" role="main">
    <div class="buttons">
      <button (click)="randsNumber(initGame)">Rand</button>
      <button (click)="createNewGame()">New Game</button>
      <button (click)="startGame()" [disabled]="starting">Start Game</button>
    </div>
    <div class="card-container games start" [ngClass]="{'start': starting}">

      <div  *ngFor="let num of initGame, index as i; trackBy: trackByFn">
        <!-- Mahjong Card -->
        <div class="card"
             [ngClass]="{
         'active': i + 1 === selectedNumber[1] ? selectedNumber[1]: '' || i + 1 === selectedNumber[3] ? selectedNumber[3]: '',
         'couple': compareCouple(num) }"
             (click)="makeSelected([num, i + 1])">
          <span>{{ num }}</span></div>
      </div>
    </div>
  </div>
</main>
